@* Tooltip content component *@
<div 
    data-slot="tooltip-content"
    data-tooltip-content="@ParentTooltip?.TooltipId"
    data-state="closed"
    data-side="@Side"
    data-side-offset="@SideOffset"
    style="visibility: hidden; opacity: 0; pointer-events: none;"
    class="@GetClass()"
    @attributes="AdditionalAttributes">
    @ChildContent
    <div class="bg-foreground fill-foreground absolute z-50 size-2.5 rotate-45 rounded-[2px] data-[side=top]:bottom-[-4px] data-[side=top]:left-1/2 data-[side=top]:-translate-x-1/2 data-[side=bottom]:top-[-4px] data-[side=bottom]:left-1/2 data-[side=bottom]:-translate-x-1/2 data-[side=left]:right-[-4px] data-[side=left]:top-1/2 data-[side=left]:-translate-y-1/2 data-[side=right]:left-[-4px] data-[side=right]:top-1/2 data-[side=right]:-translate-y-1/2" data-side="@Side" />
</div>

@code {
    [CascadingParameter] public Tooltip? ParentTooltip { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public int SideOffset { get; set; } = 0;
    [Parameter] public string Side { get; set; } = "top";
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetClass()
    {
        var baseClasses = "bg-foreground text-background animate-in fade-in-0 zoom-in-95 duration-200 data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95 data-[state=closed]:duration-150 data-[state=closed]:pointer-events-none data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 z-50 w-fit origin-[--radix-tooltip-content-transform-origin] rounded-md px-3 py-1.5 text-xs text-balance relative";
        return ClassBuilder.Merge(baseClasses, Class);
    }
}
